@import url("https://use.typekit.net/ndw2wlj.css");

body {
    font-family: brandon-grotesque, sans-serif;
    background-color: #FCF9F2;
}

#main-menu {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 1px 2px 1px rgba(0,0,0,.10);
    margin: 5px -10px -10px;
    margin-top: -8px;
}

.logo-top {
    width: 35%;
    margin: -100px 180px auto;
    padding: 5px;
}

.mobile-menu {
    margin: 50px 25px 25px 40px;
    cursor: pointer;
}

.shopping-cart {
    width: 5%;
    margin: 50px 50px 25px 40px;
    float: right;
}

.nav-bar {
    display: none;
}

.banner-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
}

.banner-text {
    margin: 10px 20px 10px 25px;
    padding: 90px;
    color: white;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}

.banner {
    background-color: #E72385;
    width: 100%;
    height: 350px;
    margin-top: -20px;
}

.button-1 {
    width: 150px;
    height: 20px;
    background-color: #F7B64D;
    border-radius: 20px;
    padding: 10px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin: 10px 10px 10px 200px;
    margin-top: -70px;
}

.button-1:hover {
    background-color: #77E2ED;
    cursor: pointer;
}

.favorites-section h2 {
    text-align: center;
    letter-spacing: 5px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 50px;
    font-size: 25px;
    text-transform: uppercase;
}

.favorites-section h4 {
    text-align: center;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 50px 100px;
    margin-top: -25px;
}

.mini-divider {
    width: 50px;
    height: 10px;
    background-color: #E72385;
    margin: -30px auto 50px;
}

.favorites-container {
    display: grid;
    height: auto;
    margin: -30px 400px 50px auto;
    align-items: center;
}

.favorite img {
   width: 300px;
   height: 300px;
   margin-left: 50px;
   padding: 10px 100px 10px 80px;
}

.favorite-description {
    margin-left: 40px;
    text-align: center;
}

.favorite-description h3 {
    color: #E72385;
    letter-spacing: 2.5px;
    margin-top: 1px;
    margin-bottom: -5px;

}

.favorite-description p {
    line-height: 1px;
    color: #696767;
    margin: 15px 5px 25px 0;
}

.blue-button {
    padding: 5px 20px;
    width: 100px;
    border-radius: 20px;
    background-color: #77E2ED;
    color: black;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.blue-button:hover {
    background-color: #E72385;
    color: white;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-banner {
    width: 100%;
    height: 300px;
}

.about-section h1 {
    text-align: center;
    margin: -295px 100px auto;
    color: white;
    letter-spacing: 5px;
    font-size: 25px;
    line-height: 100px;
}

.about-yummyyum {
    text-align: center;
    margin: 0px 100px 100px;
    font-size: 16px;
    color: white;
}

.baker-pic {
    width: 50%;
    border-radius: 200px 200px 0 0;
    position: relative;
    margin: 20px 150px 150px;
}

#baker-drop {
    background-color: #F7B64D;
    width: 300px;
    height: 45%;
    border-radius: 250px 250px 0 0;
    position: absolute;
    margin: -2px 100px auto;
}

.content-center {
    position: absolute;
    margin: 450px 100px auto;
    text-align: center;
 }

 .button-2 {
    text-align: center;
    display: inline-block;
    font-size: 12px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: #E72385;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    margin: 100px 100px 100px 225px;
}

.button-2:hover {
    background-color: #77E2ED;
    color: black;
}
 
#our-staff-section {
    background-color: #FCC8D5;
    margin: 200px 200px 200px auto;
    height: 650px;
    width: 100%;
}

.content-center h2 {
    color: #E72385;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

#our-staff-section {
    background-color: #FCC8D5;
    margin: 200px 100px 200px auto;
    height: 1420px;
    width: 100%;
}

#our-staff-section h2 {
    text-align: center;
    padding-top: 50px;
    letter-spacing: 2px;
    margin: 25px 25px 25px 20px;
}

#our-staff-section h4 {
    text-align: center;
    margin: 10px auto;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mini-divider-2 {
    width: 50px;
    height: 10px;
    background-color: #E72385;
    margin: -55px 250px 100px auto;
}

.staff img {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    padding: 10px 10px 10px 10px;
 }

 .staff-container {
    display: grid;
    max-width: 1000px;
    height: auto;
    flex-wrap: auto;
    margin: -50px 400px 100px 70px;
}

#our-staff-section h4 {
    text-align: center;
    margin: -10px 20px 20px 10px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}

.staff h3 {
    color: #E72385;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1px;
    margin: 10px 25px 10px 65px;
}

.staff p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    text-align: center;
    margin: 10px 15px 20px 50px;
}

.say-hi-button {
    background-color: #E72385;
    color: white;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
    margin: 20px 100px 150px 120px;
    text-align: center;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.say-hi-button:hover {
    background-color: #77E2ED;
    color: black;
}

.footer-navbar {
    background-color: white;
    margin-top: -200px;
    padding: 40px;
    width: 95%;
    height: 200px;
}

.footer-navbar ul {
    display: none;
}

.footer-logo {
    width: 200px;
    height: 180px;
    position: relative;
    top: 0;
    margin: 5px 25px 50px 150px;
}

.social-media {
    float: right;
    margin: -110px -1px 50px 50px;
}

.sm-icons {
    width: 35%;
    float: right;
    margin: 30px 50px 25px 25px;
}

.social-media h2 {
    float: left;
    margin: 25px -50px 10px;
    font-size: 20px;
}

.created-by {
    float: left;
    margin: -5px 25px;
    font-size: 16px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;

}

.stock-photo {
    float: right;
    margin: -5px 25px;
    font-size: 16px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
}
